body {
    background-color: #111;
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
}

#titulo {
    color: rgb(240,240,240);
    text-align: center;
    font-size: 60px;
}

#cont {
    background-color: rgb(50,50,50);
    border: 10px solid rgb(110,110,110);
    border-radius: 10em;
}

#img {
    height: 550;
    width: 550px;
    display: block;
    margin: 50px auto;
    border: 3px solid rgb(0,0,0);
}

#descri_caja {
    margin: 0 20px;
    color: rgb(230,230,230);
    background-color: rgb(50,50,53);
    border: 2px solid #fff;
}

#desc_txt {
    padding: 20px;
}

.com_caja {
    background-color: rgb(150,150,150);
    margin: 15px;
    border: 3px solid rgb(0,0,0);
}

.text {
    text-align: center;
    display: block;
    background: rgb(0,0,0);
}

.env {
    border: none;
    outline: none;
}

.env__input {
    outline: none;
    border: none;
    width: 90%;
}

.env__input::placeholder {
    outline: none;
    border: none;
    color: rgb(80,80,80);
}

.env__sub {
    width: 9%;
    background: t;
}

input {
    background: #ddd;
}